
    <div class="container m-5">
        
        <div class="row">
            <div class="col-lg-6 offset-lg-0">
                <div class="card">
                    <div class="card-body">
                        <h3 class="titulo">Usuarios</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="titulo">{{ accion | uppercase }} USUARIO</h5>


                        <form [formGroup]="form" (ngSubmit)="guardarUsuario()">

                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text">
                                    <i class="fas fa-user" [class.green-icon]="this.form.get('nombre_usuario')?.valid"
                                        [class.red-icon]="this.form.get('nombre_usuario')?.invalid && this.form.get('nombre_usuario')?.touched"></i>
                                </span>
                                <input formControlName="nombre_usuario" type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text">
                                    <i class="fas fa-credit-card"
                                        [class.green-icon]="this.form.get('numeroTarjeta')?.valid"
                                        [class.red-icon]="this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched"></i>
                                </span>
                                <input formControlName="numeroTarjeta" maxlength="16" type="text" class="form-control"
                                    placeholder="Dependencia">
                            </div>

                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="input-group input-group-lg mb-3">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"
                                                [class.green-icon]="this.form.get('fechaExpiracion')?.valid"
                                                [class.red-icon]="this.form.get('fechaExpiracion')?.invalid && this.form.get('fechaExpiracion')?.touched"></i>
                                        </span>
                                        <input formControlName="fechaExpiracion" maxlength="5" type="text"
                                            class="form-control" placeholder="MM/YY">
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="input-group input-group-lg mb-3">
                                        <span class="input-group-text">
                                            <i class="fas fa-key" [class.green-icon]="this.form.get('cvv')?.valid"
                                                [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"></i>
                                        </span>
                                        <input formControlName="cvv" maxlength="3" type="password" class="form-control"
                                            placeholder="CVV">
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                                    <i class="fas fa-database"></i>&nbsp; Aceptar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="titulo">LISTADO DE USUARIOS</h5>
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let usuario of listUsuarios">
                                    <td>{{ usuario.nombre_usuario }}</td>
                                    <td>{{ usuario.numeroTarjeta }}</td>
                                    <td>{{ usuario.fechaExpiracion }}</td>
                                    <td>
                                        <i (click)="editarUsuario(usuario)" class="far fa-edit text-info"></i>
                                    </td>
                                    <td>
                                        <i (click)="eliminarUsuario(usuario.id)"
                                            class="far fa-trash-alt text-danger"></i>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
